.roadmap {
    &__item {
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
    &__info {
        max-width: 480px;
    }
    &__title {
        max-width: 380px;
        font-weight: 700;
        font-size: 40px;
        color: $dark-blue;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 18px;
        line-height: 150%;
        color: $gray;
    }
    &__img {
        
        img {
            box-shadow: 0 19px 53px -16px rgba(25, 42, 89, 0.2);
        }
    }
}

@media (max-width: 1180px) {
    .roadmap {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .roadmap {
        padding: 20px;
        &__item {
            margin-bottom: 60px;
            flex-direction: column !important;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
}